<div id="account_view">
  <div id="account_form"></div>
  <div class="form-group" id="account_save">
    <button type="button" class="btn btn-primary btn-block">Save</button>
  </div>
  <div class="form-group" id="account_delete">
    <button type="button" class="btn btn-danger btn-block">Delete</button>
  </div>
</div>