<div class="panel panel-default" data-id="{{id}}">
  <div class="panel-body">
    <div class="input-group pull-right">
      <div class="btn-group" class="radioBtn">
        <a class="btn btn-default btn-sm" data-type="trial">TRIAL</a>
        <a class="btn btn-default btn-sm" data-type="enabled">ENABLED</a>
        <a class="btn btn-default btn-sm" data-type="disabled">DISABLED</a>
      </div>
    </div>
    <a href="#!account/{{id}}">
      {{practiceName}}
    </a>
    <div id="stats">
      <table>
      <tr id="trialexpires" class="hidden">
        <td>Trial Expires</td>
        <td></td>
      </tr>
      </table> 
    </div>
  </div>
</div>