{{!-- <div class="form-search">
	<input type="text" class="form-control" name="search" id="search" placeholder="Search" required autofocus>
</div> --}}
<div class="grid text-center" id="control-panel-grid">
	{{!-- <a href="#newpatient">
		<button class="btn-control-panel btn btn-default col-md-6 col-xs-12">
				<i class="fa fa-user"></i>
				Register Patient
		</button>
	</a> --}}
</div>