<form>
    <h4>Patient Info</h4>
    <div id="pat_fields">
    	<div data-fields="SSN,FName,LName"></div>
    </div>
    <div data-fields="Relationship"></div>
    <div id="household_info">
	    <h4>Policy Holder</h4>
	    <div data-fields="gSSN,gFName,gLName"></div>
    </div>
</form>