<form>
    <h4>Patient Information</h4>
    <div id="pat_fields">
    	<div data-fields="patSSN,patFName,patLName"></div>
    </div>
    <div data-fields="Relationship,GroupName,GroupNum"></div>
    <div id="subInfo">  	
	    <h4>Policy Holder Information</h4>
	    <div data-fields="subSSN,subFName,subLName"></div>
    </div>
</form>