<div id="schedule_layout">
  <div class="bar bar-standard bar-header-secondary">
      <a>
        <span class="icon icon-left-nav pull-left"></span>
      </a>
      <a>
        <span class="icon icon-right-nav pull-right"></span>
      </a>
    <a id="title_date" data-date-format="yyyy-mm-dd" data-date="">    
      <h1 class="title"></h1>
    </a>
  </div>
    <div>
      <ul id="schedule_layout_appts" class="table-view">
      </ul>
    </div>
</div>