<div id="SearchLayout">
    {{!-- <header class="bar bar-nav">
    <h1 class="title">Search</h1>
  </header> --}}
  <form>
    <input id="search" name="search" type="search" placeholder="Search">
  </form>
  <ul class="table-view">
  </ul>
</div>